<h1 class="title">{{ title }}</h1>
<!-- form or input taking container-->

<section class="formContainer" *ngIf="!isContentDisplayed">
  <div *ngIf="isReadmeContent">
    <label for="username">GitHub Username:</label>
    <input id="username" type="text" [(ngModel)]="username" required>
  </div>
  <div *ngIf="isReadmeContent">
    <label for="repository">Repository Name:</label>
    <input id="repository" type="text" [(ngModel)]="repositoryName" required>
  </div>

  <div *ngIf="!isReadmeContent">
    <label for="username">GitHub Username:</label>
    <input id="username" type="text" [(ngModel)]="username" required>
  </div>

  <button (click)="fetchRepositoryReadmeContent()" class="btn" *ngIf="isReadmeContent">Get Readme Content</button>
  <button *ngIf="!isReadmeContent" (click)="fetchPublicRepositoriestList()"
    [class]="isReadmeContent ? 'btn publicbtn' : 'btn publicRe'">Get Public Repositories</button>
  <button (click)="ShowReposForm()" class="btn publicbtn" *ngIf="isReadmeContent">Get Public Repositories</button>
  <button (click)="ShowReadMe()" class="btn showReadme" *ngIf="!isReadmeContent">Get Readme Content</button>

</section>


<!-- loading container -->



<!-- show complete readme content of a repository -->

<section class="content_container">

  <h2 *ngIf="isLoading" class="loading">Retrieving data, please wait...</h2>

  <h1 *ngIf="errorMessage" class="error">{{ errorMessage }}</h1>

  <div class="readme-content" *ngIf="readmeContent  && !errorMessage && isContentDisplayed && isReadmeContent">
    <button (click)="showBtnClick()" class="btn">Show form</button>
    <pre [innerHTML]="parseReadmeContentWithLinks()"></pre>
  </div>

  <ul *ngIf="!isReadmeContent">
    <p *ngIf="repositories.length>1">Click any of the link to visit repository</p>
    <li *ngFor="let repository of repositories" (click)="redirectToRepository(repository)">
      <a [href]="repository.html_url" target="_blank">{{ repository.name }}</a>
    </li>
  </ul>



</section>